/soccer/fans_old.flv
/soccer/soccer_screen_ios-app.xml
/soccer/soccer_screen_ios.swf
/advert/advert_screen_ios-app.xml
/advert/advert_screen_ios.swf
/advert/advert_screen_ios.html
/advert/soccer_screen_ios.ipa
